h4{
    padding-bottom: 10px;
}
table{
    width: 70%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 1rem 1em;
}

.divv{
    padding-bottom: 3px;
}

.logout{
    margin-left: 80em;
    margin-right: auto;
    text-align: right;
}