/* You can add global styles to this file, and also import other style files */
html,  /*exam back-color*/
 body
 { 
     height:10%;
background: #FCE4EC
;
    }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* GLobal text centr */
.text-center{
text-align: center;
}