
<table border="1">
    <tr>
        <td>Enter User id </td>
        <td><input type="text" class="form-control" [(ngModel)]="userid" placeholder="user id"></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-info" (click)="validateEmail()" [disabled] = "resetpassword">Reset Password</button></td>
    </tr>
    <tr>
        <td>Enter Password sent to your Email Id</td>
        <td><input type="text" class="form-control" [(ngModel)]="password" placeholder="password"></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-info" (click)="validatepassword()" [disabled] = "!resetpassword">Confirm</button></td>
    </tr>
    <tr>
        <td>Enter new Password</td>
        <td><input type="text" class="form-control" [(ngModel)]="newpassword" placeholder=" new password" ></td>
    </tr>
    <tr>
        <td></td>
        <td ><button class="btn btn-success" (click)="updatepassword()" [disabled] = "!confirm">Update Password </button> </td>
    </tr>
</table>
