
<h3>Report card</h3>
<table border="1">
   
    <tr *ngFor = "let r of reportrid">
        
        <table>
        <tr>
            <td>Full name :</td>
            <td>{{r[0]}}</td>
        </tr>
        <tr>
            <td>Marks : </td>
            <td>{{r[1]}}</td>    
        </tr>
        <tr>
            <td>Topic : </td>
            <td>{{r[2]}}</td>
        </tr>
        <tr>
            <td>Level : </td>
            <td>{{r[3]}}</td>
        </tr>
        <tr>
            <td>Remarks : </td>
            <td>{{r[4]}}</td>
        </tr>
    </table>
    </tr>

</table>
<table>
    <mat-card>
    <tr *ngFor = "let r of reportuserid">
        <table>
        <tr>
            <td>Full name :</td>
            <td>{{r[0]}}</td>
        </tr>
        <tr>
            <td>Marks : </td>
            <td>{{r[1]}}</td>    
        </tr>
        <tr>
            <td>Topic : </td>
            <td>{{r[2]}}</td>
        </tr>
        <tr>
            <td>Level : </td>
            <td>{{r[3]}}</td>
        </tr>
        <tr>
            <td>Remarks : </td>
            <td>{{r[4]}}</td>
        </tr>
    </table>
    </tr>
</mat-card>
</table>